*{
    font-family: Roboto;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap :20px;
    flex:1;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    margin: none;
    padding: 10px 200px;
}

ul.header-ul{
    margin:0px;
}

li.logo{
    font-size:24px;
    color: #f9faf8;
}

.push-left{
    margin-left: auto;
}
.hero{
    margin-top: none;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding:50px 15%;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-wrap: wrap;
    margin:0px;
}

.sub-text{
    font-size: 14px;
    color: #e5e7eb;
    flex-wrap: wrap;
    margin:0px;
}

.hero-text{
    width: 700px;
    height :50%;
    
}

.image{
    width: 600px;
    height:50%;
}

.button{
    margin-top:10px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 5px 15px;
}

.sub-info{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap:50px;
    margin-bottom: 20px;
}

.main-header{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px;
}

.info img{
    /* border:solid blue 2px; */
    width: 50%;
    height: 50%;
    min-height: 200px;
    min-width: 200px;
}

.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    /* outline : 2px solid blue; */
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 20%;
}

.main-quote{
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author{
    align-self:flex-end;
    font-size: 24px;
    font-weight: bold;
}



.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.form{
    height: 150px;
    width: 95%;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-desc p{
    padding: 0;
    margin: 0;
    color: #e5e7eb;
}

.form-button{
    margin-top:10px;
    color: #f9faf8;
    border-radius: 8px;
    padding: 5px 25px;
    border: solid 2px white;
    background-color: #3882f6;
}

#form-headline{
    font-weight: bold;
    font-size: 20px;
}

.footer{
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 35px;
}

a{
    text-decoration: none;
    color: inherit;
}