*{
    font-family: Roboto;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap :20px;

    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    margin: none;
    padding: 0px 200px;
}

ul.header-ul{
    margin:0px;
}

li.logo{
    font-size:24px;
    color: #f9faf8;
}

.push-left{
    margin-left: auto;
}
.hero{
    margin-top: none;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding:50px 15%;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-wrap: wrap;
    margin:0px;
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    margin:0px;
}

.hero-text{
    width: 700px;
    height :50%;
    
}

.image{
    width: 400px;
    height:50%;
}

.button{
    margin-top:10px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 5px 15px;
}